    <footer class="container">
        <div class="site-footer" role="contentinfo">
            <div class="copyright left mobile-block">
                    &copy; 2015
                    <span title="blog.zhnytech.com">blog.zhnytech.com</span>
                    <a href="javascript:window.scrollTo(0,0)" class="right mobile-visible">TOP</a>
            </div>

            <ul class="site-footer-links right mobile-hidden">
                <li>
                    <a href="javascript:window.scrollTo(0,0)" >TOP</a>
                </li>
            </ul>
            <ul class="site-footer-links mobile-hidden">
                {% for nav in site.navs %}
                <li>
                    <a href="{{ site.url }}{{ nav.href }}" title="{{ nav.label }}" target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
                </li>
                {% endfor %}
                <li>
                    <a href="{{ site.source_code }}" target="_blank" aria-label="view source code">
                        <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="{{ site.static }}/assets/js/sns.js"></script>
    <script src="{{ site.static }}/assets/js/geopattern.js"></script>
    <script src="{{ site.static }}/assets/js/prism.js"></script>
    <script>
      jQuery(document).ready(function($) {
        // geopattern
        $('.geopattern').each(function(){
          $(this).geopattern($(this).data('pattern-id'));
        });
        // share
        SNS.init({});
        $('.sns-share i').click(function(){
            SNS.share($(this).data('id'));
        });
       // hljs.initHighlightingOnLoad();
      });
    </script>
    {% include tongji.html %}
    </div>
</body>
</html>
