{% if site.related_posts %}
    <h3>Related Articles</h3>
    {% for post in site.related_posts limit:5 %}
    <section class="repo-card">
        <a href="{{ site.url }}{{ post.url }}">
            <div class="repo-card-image geopattern" data-pattern-id="{{ post.title }}">
                <h3 class="repo-card-title">{{ post.title | truncate:25 }}</h3>
            </div>
            <div class="repo-card-body-wrapper">
                <div class="repo-card-body">
                    <p class="repo-card-description">{{ post.excerpt | strip_html | strip | truncate:40 }}</p>
                   <div class="repo-card-meta">
                        <span class="meta-info tooltipped tooltipped-n PHP" aria-label="{{ post.categories | join: " " | default: "暂无" | truncate:30 }} ">
                            <span class="octicon octicon-versions"></span> 分类
                        </span>
                        <span class="meta-info tooltipped tooltipped-n" aria-label="{{ post.tags | join: " " | default: "暂无" | truncate:30 }} ">
                            <span class="octicon octicon-tag"></span> 标签
                        </span>
                        <span class="meta-info tooltipped tooltipped-n" aria-label="{{ post.date | date: "%Y/%m/%d" }}">
                            <span class="octicon octicon-calendar"></span> 发布时间
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </section>
    {% endfor %}
{% endif %}