---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
    <div class="container">
        <div class="columns">
            <div class="column three-fourths">
                <div class="collection-title">
                    <h1 class="collection-header">{{ page.title }}</h1>
                    <div class="collection-info">
                        <span class="meta-info">
                            <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="column one-fourth">
                {% include title-ad.html %}
            </div>
        </div>
    </div>
</section>
<!-- / .banner -->
 <section class="container content">
    <div class="columns">
        <div class="column three-fourths" >
            <article class="article-content markdown-body">
                    {{ content | toc_generate }}
            </article>
            <div class="share">
                {% include sns-share.html %}
            </div>
            <div class="entry-nav clearfix">
                {% if page.next %}
                    <span class="left-nav">上一篇：<a href="{{ page.next.url }}" class="next-link" title="{{ page.next.title }}">{{ page.next.title | truncate:30 }}</a></span>
                {% endif %}
                {% if page.previous %}
                    <span class="right-nav">下一篇：<a href="{{ page.previous.url }}" class="previous-link"  title="{{ page.previous.title }}">{{ page.previous.title | truncate:30 }}</a></span>
                {% endif %}
            </div>
            <div class="comment">
                {% include disqus-comments.html %}
            </div>
        </div>
        <div class="column one-fourth">
            {% include sidebar-before-ads.html %}
            {% include sidebar-related-post.html %}
            {% include sidebar-contribute-repo.html %}
            {% include sidebar-after-ads.html %}
        </div>
    </div>
</section>
<!-- /section.content -->